@rightBarWidth: 230px;

.main-box{
    color: rgb(114, 114, 114);
    margin-top: 56px;
    height: 100%;
    transition: all .3s ease-in-out;
    padding: 1rem;
    background-color: rgba(245, 245, 245, 0.8);
}

