.main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: ;
    .card-item{
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 1rem;
        max-width: 800px;
        width: 100%;
        .card-img{
            height: 200px;
            background: #fff url(../images/static_imgs/webPic2.jpg) no-repeat  center;
            background-size: 100%;
            transition: background-size 0.2s;
        }
        .card-img:hover{
            background-size: 110%;
        }
        .card-body{
            
        }
    }
}