.main-card{
    padding: 0 1.2rem;
    .card-item{
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 1rem;
        .card-img{
            height: 200px;
        }
        .card-body{
            
        }
    }
}